skweak~=0.2.10
ipywidgets~=7.6.3
scipy~=1.5.2
dataclasses~=0.8
seqeval~=1.2.2
nltk~=3.2.4
tqdm~=4.49.0
pandas~=1.1.5
spacy~=3.1.2
traitlets~=4.3.3
numpy~=1.19.2
transformers~=4.12.3
torch~=1.8.1
regex~=2021.4.4
allennlp~=2.7.0
allennlp_models~=2.7.0
Core~=1.0.1
ipython~=7.27.0
overrides~=6.1.0
snips_nlu_parsers~=0.4.3
pytokenizations~=0.8.4
pytextspan~=0.5.4
